<% @status_updates.each do |sp| %>
	<p class="status-post">
	  <%= sp.status_post %>
	</p>
	<p class="sp-links">
		<%= button_to 'Delete', status_update_path(sp),
		method: :delete,
		class: 'btn btn-danger',
		data: {confirm: 'Are you sure?'} %>
	</p>
<% end %>

