<div class="col-md-12">
	<div class="logo">
		<h1>Railsbook</h1>
	</div>
	<ul class="nav cus-nav">
		<li class="nav-item">
			<%= link_to "Home", root_path, class: 'cus-nav' %>
		</li>
		<li class="nav-item">
			<%= link_to "Photo", pages_images_path, class: 'cus-nav' %>
		</li>
		<li class="nav-item">
			<%= login_helper 'cus-nav' %>
		</li>
	</ul>
</div>